 *{
 	/*Eliminando los padding y margenes por defecto*/
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }
 body{
	background-color: bisque;
 	font-family: 'Ubuntu&display', sans-serif;
	 
 }
 .contenedor{
 	margin: auto;
 	width: 90%;
 	max-width: 1000px;
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 
 }
 header{
 	width: 100%;
 	padding: 25px;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	align-items: center;
 }

 header .menu a{
 	color: black;
 	text-decoration: none;
 	margin-right: 40px;
 	font-size: 18px;
	font-family: 'Grandstander', cursive;
 }
ul{
	list-style: none;
}

/*Para las secciones del navegador*/
.nav li a{
	
	color: black;
	padding: 10px;
	display: block;
}
.nav .sublista li a{
	background: rgba(43,40,40,1.00);
	color:aliceblue;
}
.nav .sublista li a:hover{
	background-color: grey;
}
.nav >li{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 100px;
	left: 940px;
}

.nav li:hover > ul{
	display: block;
}


 .main{
 	background: rgba(184,178,178,0.5);
 	padding: 20px;
 	width: 70%;
 }
.main article .thumb{
	margin-bottom: 20px;

}
.main article .thumb img{
	width: 100%;
	vertical-align: top;
}
.main article h2{
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}
.main article p{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
}
aside {
	width: 30%;
	background: rgba(184,178,178,1.00);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}
aside .add{
	font-size: 30px;
	text-align: center;
	color: black;
	padding: 20px 0;

}
.boton{
		position: relative;
		right: 0px;
		color: black;	
		background-color: bisque;
		border: 3px;
		border-radius: 30px;
	    text-align: center;
		cursor: pointer;
		padding: 5px;
		font-size: 20px;
		font-weight: bold;

	}
	.boton:hover{
		background-color: rgba(231,201,201,.7);
		border: 3px solid black;
	}
/*Para el boton flotante*/
#btn-mas{
	display: none;
	
}
.container{
	position: fixed;
	bottom: 50px;
	left: 20px;
}

.redes a, .icon-reclamaciones{
	display: block;
	text-decoration: none;
	background:#FFFFFF;
	color: black;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0px 1px 10px;
	text-align: center;
	transition: all 500ms ease;
	
}

.redes a:hover{
	background: #00bb2d;
	border-color: black;
}
.redes a{
	margin-bottom: -15px;
	opacity: 0;
	visibility: hidden;
}
#btn-mas:checked~ .redes a{
	margin-bottom: 10px;
	opacity: 1;
	visibility: visible;
}
.icon-reclamaciones{
	cursor: pointer;
}
#btn-mas:checked ~ .btn-mas .icon-reclamaciones{
	transform: rotate(360deg);
}


footer .redes-sociales{
	background:black;
	padding: 20px 0;
}
footer .redes-sociales .contenedor{
	display: flex;
	justify-content: center;
}
footer .redes-sociales a{
	color: #ffff;
	text-align: center;
	width: 100px;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
}

footer .redes-sociales .facebook:hover{
	background: #3b5998;
}
footer .redes-sociales .wsp:hover{
	background: #BD2A96;
}
footer .redes-sociales .email:hover{
	background: #bb0000;
}
.part_fin {
	color: white;
	font-size: 14px;
	text-align: center;
}
@media screen and (max-width: 1000px) {
	.main{
		width: 100%;
	}
	aside{
		width: 100%;
		flex-direction: row;
	}
	aside .add{
		width: 40%;
	}
}

.cantidad {
	font-size: 20px;
	
}
.cantidad input{
	width: 50px;
	height: 30px;
}

.menu {
	text-align: center;
}

.nav {
	display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
